/* styles.css */
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

.sound-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sound-button {
    padding: 10px 20px;
    font-size: 32px;
    border: none;
    cursor: pointer;
}

.sound-button:hover {
   /* background-color: #2980b9;*/
}
.speakers {

    display: none;
}
.sound-box-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background-color: rgb(217, 218, 213);
}
.sound-buttons {
    display: grid;
    width: 100%;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    padding: 12px;
    box-sizing: border-box;
}
.sound-button {
    aspect-ratio: 2 / 2;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(194 194 182);
    color: rgb(31, 31, 31);
    color: rgb(82 82 82);
    font-size: 32px;
    text-shadow: .5px .5px #ffffffa8, -.5px -.5px #444444c2;
}
.sound-button:active {
    /*background-color: rgb(145, 145, 139);*/
    -webkit-box-shadow:1px 1px 4px .2px #0000004d inset;
    -moz-box-shadow: 1px 1px 4px .2px #0000004d inset;
    box-shadow: 1px 1px 4px .2px #0000004d inset;
}